*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #79DAE8;
}
header{
    height: 80px;
    width: 100%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    background-color: #E8F9FD;
}
#tituloIndex{
    color: #E8F9FD;
    margin-top: 20px;
    margin-bottom: 20px;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
#descripcionIndex{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    text-align: center;
}
#footerTodos{
    background-color: #2155CD;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffff;
    width: 100%;
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%
}
