*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/images/Mecánico\ Llave\ Minimalista\ Tarjeta\ de\ Presentación.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff8728;
}
header{
    height: 80px;
    width: 100%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    background-color: #3a4754;
}
#navegador{
    float: right;
}
.nav{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#navegador ul a{
    text-decoration: none;
}
#navegador ul a{
    display: inline-block;
    color: #ffff;
}
#navegador a:hover{
    color: black;
}
#main{
    display: grid;
}
#tituloIndex{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold
}
#descripcionIndex{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    text-align: center;
}
#footerTodos{
    background-color: #3a4754;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffff;
    width: 100%;
    bottom: 0;
}

/*Responsive de Mobile*/

@media only screen and (max-width:480px) {
    #navegador{
        font-size: 15px;
        text-align: center;
    }
    #navegador a:hover{
        color: black;
    }
    #main{
        grid-template-rows: 80px repeat(6, 250px) 60px;
        max-width: 480px;
        }
    #tituloIndex h1{
            grid-row: 1/2;
            font-size: 25px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }
    .center_border{
        display: block;
        margin: auto;
        width: 300px;
        height: 220px;
        border: #3a4754 solid 5px;
        border-radius: 5%;
        animation-name: vayviene;
        animation-duration: 1s;
        animation-iteration-count: 3;
        }
    @keyframes vayviene{
        0% {
        top: 0px;
        }
        50% {
        top: 249px;
        width: 130px;
        height: 70px;
        }
        100% {
            top: 0px;
            }
        }
        
    #imgIndex{
        grid-row: 2/3;
        justify-content: center;
    }
    #imgIndex2{
        grid-row: 3/4;
    }
    #descripcionIndex{
        grid-row: 4/7;
        font-size: 15px;
    }
    #footerTodos{
        grid-row: 8/9;
        font-size: 15px;
        
    }
}

/*Responsive de tablet*/

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    body{
        background-size: contain;
        background-position: center;
        animation-name: sombreado;
        animation-duration: 1s;
    }
    
    @keyframes sombreado {
        0% {
        background-color: #ff8928c2;
        }
        50% {
            background-color:#ff892898 ;
        }
        100% {
        background-color: #ff8728;
        }
    }
    
    
    #navegador{
        font-size: 15px;
        text-align: center;
        float: none;
    }
    #main{
        grid-template-rows: 80px 300px 700px 60px;
        grid-template-columns: 50% 50%;
    }
    #tituloIndex{
        grid-row: 1/2;
        grid-column: 1/3;
        font-size: 15px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .center_border{
        display: block;
        margin: auto;
        width: 220px;
        height: 220px;
        border: #3a4754 solid 5px;
        border-radius: 5%;
        }
    #descripcionIndex{
        grid-row: 3/4;
        grid-column: 1/3;
        font-size: 15px;
    }
    #footerTodos{
        grid-row: 4/5;
        grid-column: 1/3;
        font-size: 15px;
    }
}

/*Responsive de desktop*/
@media only screen and (min-width: 1023px){
    body{
        background-size: contain;
        background-position: center;
    }
    #main{
        grid-template-rows: 200px 500px 500px 80px;
        grid-template-columns: 50% 50%;
        }
    #tituloIndex{
        grid-row: 1/2;
        grid-column: 1/3;
        }
    .center_border{
        display: block;
        margin: auto;
        width: 400px;
        height: 400px;
        border: #3a4754 solid 5px;
        border-radius: 5%;
        -webkit-transform: translateX(0);
        -webkit-transition-duration: 0.3s;
        }
    .center_border:hover{
        animation: 0.2s vibrar 0.1s;
        }
    @keyframes vibrar
        {
        5%, 25%, 45%, 65%, 85% { transform: translateX(-10px); }
        15%, 35%, 55%, 75%, 95% { transform: translateX(10px); }
        }   
    #descripcionIndex{
        grid-row: 3/4;
        grid-column: 1/3;
        font-size: 15px;
        }    
    #footerTodos{
        grid-row: 4/5;
        grid-column: 1/3;
        }
}