*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: auto;
}

$color1:#79DAE8;
$color2:#E8F9FD;
$color3:#3b5998;

body{
    background-color: $color2;
    position: relative;
    min-height: 100vh;
    padding-bottom: 110px;
}
#navegador, #navegadorSecundario{
    background-color: $color1;
    border: solid 2px black;
}
.navbar-dark .navbar-brand {
    color: $color3;
    font-size: 40px ;
}
.navbar-dark .navbar-nav .nav-link {
    color: $color3;
    font-size: 20px;
}
header{
    height: 80px;
    width: 100%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    background-color: $color1;
}
#tituloIndex, #telefonoDireccion{
    color: $color3;
    margin: 20px 20px;
}
#tituloServicios{
    color: $color3;
    margin-top: 20px;
    margin-bottom: 20px;
}
#telefonoDireccion{
    font-size: 35px;
}
.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}
.bgColorTable{
    background-color: $color1;
}
#descripcionIndex{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    text-align: center;
}
#tituloContacto{
    color: $color3;
}
#footerTodos{
    background-color: $color1;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: $color3;
    width: 100%;
    position: absolute;
    left:0px;
    bottom:0px;
    border:solid 2px black;
    height: 120px;
}
.tituloA{
    text-decoration: underline;
    text-align: center;
}
.margenTabla{
    margin-left: 20px;
}
.letraChica{
    font-size: 10px;
}
.bordeTabla{
    border: solid 2px $color3;
}
.titulos{
    color: $color3;
}
.margenServicios{
    margin-left: 10px;
}