*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1:#79DAE8;
$color2:#E8F9FD;
$color3:#2155CD;

body{
    background-color: $color1;
}
header{
    height: 80px;
    width: 100%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    background-color: $color2;
}
#descripcionIndex{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    text-align: center;
}
#footerTodos{
    background-color: $color3;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: $color2;
    width: 100%;
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%
}